@font-face{

	font-family: 'ficon';
  	src:url(../fonts/icons-fefc7450dfc817a3dcdcd6ee393a9b00.eot);
	src:url(../fonts/icons-fefc7450dfc817a3dcdcd6ee393a9b00.eot?#iefix) format("embedded-opentype"),
		url(../fonts/icons-fefc7450dfc817a3dcdcd6ee393a9b00.woff) format("woff"),
		url(../fonts/icons-fefc7450dfc817a3dcdcd6ee393a9b00.ttf) format("truetype"),
		url(../fonts/icons-fefc7450dfc817a3dcdcd6ee393a9b00.svg?#icons) format("svg");
  	font-weight: normal;
  	font-style: normal;
}

[class^="ficon-"],[class*=" ficon-"]{font-family:"ficon";font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0% 0%;background-repeat:repeat;margin-top:0}
[class^="ficon-"]:before,[class*=" ficon-"]:before{text-decoration:inherit;display:inline-block;speak:none}
a [class^="ficon-"],a [class*=" ficon-"]{display:inline-block}

.ficon-24-hour-finess-center:before{content:"\F101"}
.ficon-24hour-check-in:before{content:"\F102"}
.ficon-24hour-frontdesk:before{content:"\F103"}
.ficon-24hour-room-service:before{content:"\F104"}
.ficon-24hour-security:before{content:"\F105"}
.ficon-desktop-ic-black-down:before{content:"\F106"}
.ficon-desktop-ic-black-down-arrow:before{content:"\F107"}
.ficon-desktop-ic-profile:before{content:"\F108"}
.ficon-internet:before{content:"\F109"}
.ficon-iron:before{content:"\F10A"}
.ficon-add-a-website:before{content:"\F10B"}
.ficon-additional-bathroom:before{content:"\F10C"}
.ficon-additional-fee-for-pets:before{content:"\F10D"}
.ficon-additional-information:before{content:"\F10E"}
.ficon-additional-toilet:before{content:"\F10F"}
.ficon-address:before{content:"\F110"}
.ficon-adults-line:before{content:"\F111"}
.ficon-adults-one:before{content:"\F112"}
.ficon-after-hours:before{content:"\F113"}
.ficon-afternoon-tea:before{content:"\F114"}
.ficon-agoda-price-guarante:before{content:"\F115"}
.ficon-air-bath-access:before{content:"\F116"}
.ficon-air-conditioning:before{content:"\F117"}
.ficon-air-purifier:before{content:"\F118"}
.ficon-airport-transfer-big:before{content:"\F119"}
.ficon-airport-transfer-oneway:before{content:"\F11A"}
.ficon-airport-transfer-roundtrip:before{content:"\F11B"}
.ficon-airport-transfer-small:before{content:"\F11C"}
.ficon-airport-transfer-solid:before{content:"\F11D"}
.ficon-airport-transfer:before{content:"\F11E"}
.ficon-airports:before{content:"\F11F"}
.ficon-alarm-clock:before{content:"\F120"}
.ficon-american-express:before{content:"\F121"}
.ficon-apartment:before{content:"\F122"}
.ficon-app-android:before{content:"\F123"}
.ficon-app-apple:before{content:"\F124"}
.ficon-app-windos:before{content:"\F125"}
.ficon-aps-lock:before{content:"\F126"}
.ficon-area:before{content:"\F127"}
.ficon-arrow-big-down:before{content:"\F128"}
.ficon-arrow-big-up:before{content:"\F129"}
.ficon-arrow-right-box:before{content:"\F12A"}
.ficon-arrow-right:before{content:"\F12B"}
.ficon-assembly-pin-border:before{content:"\F12C"}
.ficon-assembly-restaurant:before{content:"\F12D"}
.ficon-atm-cash-machine-on-site:before{content:"\F12E"}
.ficon-attractions:before{content:"\F12F"}
.ficon-avatar-hotel:before{content:"\F130"}
.ficon-avatar-property:before{content:"\F131"}
.ficon-baby-cot:before{content:"\F132"}
.ficon-babysitting:before{content:"\F133"}
.ficon-badge-insider:before{content:"\F134"}
.ficon-badminton-court:before{content:"\F135"}
.ficon-balcony-terrace:before{content:"\F136"}
.ficon-balloon-minus:before{content:"\F137"}
.ficon-balloon-plus:before{content:"\F138"}
.ficon-balloon:before{content:"\F139"}
.ficon-bathrobes:before{content:"\F13A"}
.ficon-bathroom-basics:before{content:"\F13B"}
.ficon-bathroom-phone:before{content:"\F13C"}
.ficon-bathrooms:before{content:"\F13D"}
.ficon-bathtub:before{content:"\F13E"}
.ficon-bbq-facilities:before{content:"\F13F"}
.ficon-bc-global-card:before{content:"\F140"}
.ficon-beach:before{content:"\F141"}
.ficon-bed-property:before{content:"\F142"}
.ficon-bed:before{content:"\F143"}
.ficon-bedroom:before{content:"\F144"}
.ficon-bell-alerts:before{content:"\F145"}
.ficon-best-value:before{content:"\F146"}
.ficon-bicycle-rental:before{content:"\F147"}
.ficon-billiards:before{content:"\F148"}
.ficon-blackout-curtains:before{content:"\F149"}
.ficon-blizzard:before{content:"\F14A"}
.ficon-blowing-drifting-snow:before{content:"\F14B"}
.ficon-blowing-dust-sandstorm:before{content:"\F14C"}
.ficon-blowing-spray-windy:before{content:"\F14D"}
.ficon-boat:before{content:"\F14E"}
.ficon-book-now-pay-later:before{content:"\F14F"}
.ficon-book-without-a-creditcard:before{content:"\F150"}
.ficon-bottle-of-sparkling-wine:before{content:"\F151"}
.ficon-bottle-of-wine:before{content:"\F152"}
.ficon-bowling-alley:before{content:"\F153"}
.ficon-bracket-left:before{content:"\F154"}
.ficon-bracket-right:before{content:"\F155"}
.ficon-breakfast-buffet:before{content:"\F156"}
.ficon-breakfast-one-person:before{content:"\F157"}
.ficon-breakfast:before{content:"\F158"}
.ficon-breezy:before{content:"\F159"}
.ficon-broken-clouds:before{content:"\F15A"}
.ficon-bullet:before{content:"\F15B"}
.ficon-bungalow:before{content:"\F15C"}
.ficon-bunk-bed:before{content:"\F15D"}
.ficon-bus-and-rail-stations:before{content:"\F15E"}
.ficon-bus-station:before{content:"\F15F"}
.ficon-business-center:before{content:"\F160"}
.ficon-business-facilities:before{content:"\F161"}
.ficon-business-hover:before{content:"\F162"}
.ficon-business:before{content:"\F163"}
.ficon-buzzer-wireless-intercom:before{content:"\F164"}
.ficon-c-coupon:before{content:"\F165"}
.ficon-cable-car-station:before{content:"\F166"}
.ficon-calendar-onmap:before{content:"\F167"}
.ficon-callcenter-24hour:before{content:"\F168"}
.ficon-callcenter-line:before{content:"\F169"}
.ficon-callcenter:before{content:"\F16A"}
.ficon-camera-hover:before{content:"\F16B"}
.ficon-cancellation-policy-non-refund-special-condition:before{content:"\F16C"}
.ficon-canoe:before{content:"\F16D"}
.ficon-capsule:before{content:"\F16E"}
.ficon-car-hire:before{content:"\F16F"}
.ficon-car-park-charges:before{content:"\F170"}
.ficon-car-park-free-charge:before{content:"\F171"}
.ficon-car-park-nearby:before{content:"\F172"}
.ficon-car-park-onsite:before{content:"\F173"}
.ficon-car-park:before{content:"\F174"}
.ficon-car-power-charging-station:before{content:"\F175"}
.ficon-carbon-monoxide-detector:before{content:"\F176"}
.ficon-carpeting:before{content:"\F177"}
.ficon-carrouselarrow-left:before{content:"\F178"}
.ficon-carrouselarrow-right:before{content:"\F179"}
.ficon-cash:before{content:"\F17A"}
.ficon-casino:before{content:"\F17B"}
.ficon-cats-allowed:before{content:"\F17C"}
.ficon-chapel:before{content:"\F17D"}
.ficon-chat:before{content:"\F17E"}
.ficon-check-box:before{content:"\F17F"}
.ficon-check-circle-o:before{content:"\F180"}
.ficon-check-circle:before{content:"\F181"}
.ficon-check-in:before{content:"\F182"}
.ficon-check-out:before{content:"\F183"}
.ficon-check-valid-state:before{content:"\F184"}
.ficon-check:before{content:"\F185"}
.ficon-checkin-date:before{content:"\F186"}
.ficon-checkin-hover-date:before{content:"\F187"}
.ficon-checkout-date:before{content:"\F188"}
.ficon-checkout-hover-date:before{content:"\F189"}
.ficon-child-icon:before{content:"\F18A"}
.ficon-child-line:before{content:"\F18B"}
.ficon-child:before{content:"\F18C"}
.ficon-children-high-chair:before{content:"\F18D"}
.ficon-children-one:before{content:"\F18E"}
.ficon-children-playground:before{content:"\F18F"}
.ficon-china-event:before{content:"\F190"}
.ficon-china-only:before{content:"\F191"}
.ficon-chinese-friendly:before{content:"\F192"}
.ficon-circle-05:before{content:"\F193"}
.ficon-circle-1:before{content:"\F194"}
.ficon-circle-15:before{content:"\F195"}
.ficon-circle-2:before{content:"\F196"}
.ficon-circle-25:before{content:"\F197"}
.ficon-circle-3:before{content:"\F198"}
.ficon-circle-35:before{content:"\F199"}
.ficon-circle-4:before{content:"\F19A"}
.ficon-circle-45:before{content:"\F19B"}
.ficon-circle-5:before{content:"\F19C"}
.ficon-circle-arrow-left:before{content:"\F19D"}
.ficon-circle-arrow-right:before{content:"\F19E"}
.ficon-cities:before{content:"\F19F"}
.ficon-city-buses:before{content:"\F1A0"}
.ficon-city-view:before{content:"\F1A1"}
.ficon-cleaning-products:before{content:"\F1A2"}
.ficon-clear-mark:before{content:"\F1A3"}
.ficon-clear-sky:before{content:"\F1A4"}
.ficon-clear:before{content:"\F1A5"}
.ficon-close-popup-solid:before{content:"\F1A6"}
.ficon-close-popup:before{content:"\F1A7"}
.ficon-closest-bar:before{content:"\F1A8"}
.ficon-closest-market:before{content:"\F1A9"}
.ficon-closet:before{content:"\F1AA"}
.ficon-clothes-dryer-pay:before{content:"\F1AB"}
.ficon-clothes-rack:before{content:"\F1AC"}
.ficon-clothes-washer-free:before{content:"\F1AD"}
.ficon-cloudy:before{content:"\F1AE"}
.ficon-club-lounge-access:before{content:"\F1AF"}
.ficon-coffee-shop:before{content:"\F1B0"}
.ficon-coffee-tea-maker:before{content:"\F1B1"}
.ficon-complimentary-bottled-water:before{content:"\F1B2"}
.ficon-complimentary-instant-coffee:before{content:"\F1B3"}
.ficon-complimentary-tea:before{content:"\F1B4"}
.ficon-compset-comparison:before{content:"\F1B5"}
.ficon-concierge:before{content:"\F1B6"}
.ficon-confirmation-instant:before{content:"\F1B7"}
.ficon-confirmation-later:before{content:"\F1B8"}
.ficon-confirmation-solid:before{content:"\F1B9"}
.ficon-confirmation:before{content:"\F1BA"}
.ficon-continental-breakfast:before{content:"\F1BB"}
.ficon-control-close-circle:before{content:"\F1BC"}
.ficon-control-collapse:before{content:"\F1BD"}
.ficon-control-expand:before{content:"\F1BE"}
.ficon-couple-hover:before{content:"\F1BF"}
.ficon-couple:before{content:"\F1C0"}
.ficon-coupon-card-no-circle:before{content:"\F1C1"}
.ficon-coupon-card-solid:before{content:"\F1C2"}
.ficon-coupon-card:before{content:"\F1C3"}
.ficon-coupon-promo:before{content:"\F1C4"}
.ficon-coupon:before{content:"\F1C5"}
.ficon-credit-card-bf:before{content:"\F1C6"}
.ficon-credit-card:before{content:"\F1C7"}
.ficon-culture:before{content:"\F1C8"}
.ficon-currency-exchange:before{content:"\F1C9"}
.ficon-daily-housekeeping:before{content:"\F1CA"}
.ficon-daily-newspaper:before{content:"\F1CB"}
.ficon-dart-board:before{content:"\F1CC"}
.ficon-dashboard:before{content:"\F1CD"}
.ficon-data-at-your-fingertips:before{content:"\F1CE"}
.ficon-deal-gift-card:before{content:"\F1CF"}
.ficon-deal-insider:before{content:"\F1D0"}
.ficon-default-feedback:before{content:"\F1D1"}
.ficon-desk:before{content:"\F1D2"}
.ficon-diners-clubs-card:before{content:"\F1D3"}
.ficon-dinner:before{content:"\F1D4"}
.ficon-discount:before{content:"\F1D5"}
.ficon-discover-card:before{content:"\F1D6"}
.ficon-dishwasher:before{content:"\F1D7"}
.ficon-distance-from-city-center:before{content:"\F1D8"}
.ficon-distance-to-airport:before{content:"\F1D9"}
.ficon-diving:before{content:"\F1DA"}
.ficon-dog-allowed:before{content:"\F1DB"}
.ficon-domestic-rates:before{content:"\F1DC"}
.ficon-dot-seperater:before{content:"\F1DD"}
.ficon-double-bed:before{content:"\F1DE"}
.ficon-download-apps:before{content:"\F1DF"}
.ficon-dressing-room:before{content:"\F1E0"}
.ficon-drinks:before{content:"\F1E1"}
.ficon-drizzle:before{content:"\F1E2"}
.ficon-drug-stores:before{content:"\F1E3"}
.ficon-dryer:before{content:"\F1E4"}
.ficon-dvd-cd-player:before{content:"\F1E5"}
.ficon-dynamic-banner:before{content:"\F1E6"}
.ficon-early-bird-deal:before{content:"\F1E7"}
.ficon-early-check-in:before{content:"\F1E8"}
.ficon-easy-integration:before{content:"\F1E9"}
.ficon-edge-arrow-left:before{content:"\F1EA"}
.ficon-edge-arrow-right:before{content:"\F1EB"}
.ficon-edit:before{content:"\F1EC"}
.ficon-electric-blanket:before{content:"\F1ED"}
.ficon-elevator:before{content:"\F1EE"}
.ficon-email-envelope:before{content:"\F1EF"}
.ficon-emo-dislike-ani1:before{content:"\F1F0"}
.ficon-emo-dislike-ani2:before{content:"\F1F1"}
.ficon-emo-dislike-ani3:before{content:"\F1F2"}
.ficon-emo-dislike-click:before, .survey-banner-answer-icon.ficon-emo-dislike-ani1:active:before{content:"\F1F3"}
.ficon-emo-dont-care-ani1:before{content:"\F1F4"}
.ficon-emo-dont-care-ani2:before{content:"\F1F5"}
.ficon-emo-dont-care-ani3:before{content:"\F1F6"}
.ficon-emo-dont-care-click:before, .survey-banner-answer-icon.ficon-emo-dont-care-ani1:active:before{content:"\F1F7"}
.ficon-emo-great-ani1:before{content:"\F1F8"}
.ficon-emo-great-ani2:before{content:"\F1F9"}
.ficon-emo-great-ani3:before{content:"\F1FA"}
.ficon-emo-great-click:before, .survey-banner-answer-icon.ficon-emo-great-ani1:active:before{content:"\F1FB"}
.ficon-emo-nice-ani1:before{content:"\F1FC"}
.ficon-emo-nice-ani2:before{content:"\F1FD"}
.ficon-emo-nice-ani3:before{content:"\F1FE"}
.ficon-emo-nice-click:before, .survey-banner-answer-icon.ficon-emo-nice-ani1:active:before{content:"\F1FF"}
.ficon-entire-place:before{content:"\F200"}
.ficon-essentials:before{content:"\F201"}
.ficon-everybody-fits:before{content:"\F202"}
.ficon-executive-floor:before{content:"\F203"}
.ficon-executive-lounge-access:before{content:"\F204"}
.ficon-export-calendar:before{content:"\F205"}
.ficon-express-check-in-check-out:before{content:"\F206"}
.ficon-exterior:before{content:"\F207"}
.ficon-extra-long-beds:before{content:"\F208"}
.ficon-facebook-logo:before{content:"\F209"}
.ficon-facilities-for-disabled-guests:before{content:"\F20A"}
.ficon-facilities-rich:before{content:"\F20B"}
.ficon-failed-o:before{content:"\F20C"}
.ficon-failed:before{content:"\F20D"}
.ficon-fair-mostly-clear:before{content:"\F20E"}
.ficon-fair-mostly-sunny:before{content:"\F20F"}
.ficon-family-friendly:before{content:"\F210"}
.ficon-family-fun:before{content:"\F211"}
.ficon-family-room:before{content:"\F212"}
.ficon-family-special-deal:before{content:"\F213"}
.ficon-family-with-small-kids-hover:before{content:"\F214"}
.ficon-family-with-teens-hover:before{content:"\F215"}
.ficon-family-with-teens:before{content:"\F216"}
.ficon-fan:before{content:"\F217"}
.ficon-faq:before{content:"\F218"}
.ficon-favorite-filled:before{content:"\F219"}
.ficon-favorite:before{content:"\F21A"}
.ficon-fax-machine:before{content:"\F21B"}
.ficon-fax-or-photo:before{content:"\F21C"}
.ficon-feedback:before{content:"\F21D"}
.ficon-few-clouds:before{content:"\F21E"}
.ficon-filter-line:before{content:"\F21F"}
.ficon-fire-extinguisher:before{content:"\F220"}
.ficon-fireplace:before{content:"\F221"}
.ficon-first-aid-kit:before{content:"\F222"}
.ficon-fishing:before{content:"\F223"}
.ficon-fitness-center-charge:before{content:"\F224"}
.ficon-fitness-center:before{content:"\F225"}
.ficon-fitness-club:before{content:"\F226"}
.ficon-flash-deal:before{content:"\F227"}
.ficon-flight-earn:before{content:"\F228"}
.ficon-foggy:before{content:"\F229"}
.ficon-forgot-pass:before{content:"\F22A"}
.ficon-free-bicycle:before{content:"\F22B"}
.ficon-free-breakfast:before{content:"\F22C"}
.ficon-free-cancellation:before{content:"\F22D"}
.ficon-free-fitness-center:before{content:"\F22E"}
.ficon-free-night-stay-circle:before{content:"\F22F"}
.ficon-free-night-stay:before{content:"\F230"}
.ficon-free-night:before{content:"\F231"}
.ficon-free-welcome-drink:before{content:"\F232"}
.ficon-free-wifi-in-all-rooms:before{content:"\F233"}
.ficon-freezing-drizzle:before{content:"\F234"}
.ficon-freezing-rain:before{content:"\F235"}
.ficon-fresh-newly-built-property:before{content:"\F236"}
.ficon-frigid-ice-crystals:before{content:"\F237"}
.ficon-g-giftcard:before{content:"\F238"}
.ficon-garden:before{content:"\F239"}
.ficon-gca-wreath-left:before{content:"\F23A"}
.ficon-gca-wreath-right:before{content:"\F23B"}
.ficon-gift-card:before{content:"\F23C"}
.ficon-gift-souvenir-shop:before{content:"\F23D"}
.ficon-global:before{content:"\F23E"}
.ficon-golf-course-on-site:before{content:"\F23F"}
.ficon-golf-course-within-3k:before{content:"\F240"}
.ficon-grocery-deliveries:before{content:"\F241"}
.ficon-ground-floor:before{content:"\F242"}
.ficon-group-travelers-hover:before{content:"\F243"}
.ficon-group-travelers:before{content:"\F244"}
.ficon-guest-house:before{content:"\F245"}
.ficon-gym:before{content:"\F246"}
.ficon-hail:before{content:"\F247"}
.ficon-hair-dryer:before{content:"\F248"}
.ficon-halal-restaurant:before{content:"\F249"}
.ficon-half-full-board:before{content:"\F24A"}
.ficon-hamburger-menu:before{content:"\F24B"}
.ficon-hangers:before{content:"\F24C"}
.ficon-haze-windy:before{content:"\F24D"}
.ficon-heart-of-the-city:before{content:"\F24E"}
.ficon-heating:before{content:"\F24F"}
.ficon-heavy-rain:before{content:"\F250"}
.ficon-heavy-snow:before{content:"\F251"}
.ficon-high-floor:before{content:"\F252"}
.ficon-high-to-low:before{content:"\F253"}
.ficon-hiking-trails:before{content:"\F254"}
.ficon-holiday-house:before{content:"\F255"}
.ficon-homestay:before{content:"\F256"}
.ficon-horse-riding:before{content:"\F257"}
.ficon-hospitals-clinics:before{content:"\F258"}
.ficon-hot-spring-access:before{content:"\F259"}
.ficon-hot-spring-bath:before{content:"\F25A"}
.ficon-hot-tub:before{content:"\F25B"}
.ficon-hot:before{content:"\F25C"}
.ficon-hotel-book-last:before{content:"\F25D"}
.ficon-hotel-data:before{content:"\F25E"}
.ficon-hotel-great-location:before{content:"\F25F"}
.ficon-hotel-people-looking:before{content:"\F260"}
.ficon-hotel-star-half:before{content:"\F261"}
.ficon-hotel-star:before{content:"\F262"}
.ficon-hotel-wifi:before{content:"\F263"}
.ficon-hover-details:before{content:"\F264"}
.ficon-human-large:before{content:"\F265"}
.ficon-humidifier:before{content:"\F266"}
.ficon-hurricane:before{content:"\F267"}
.ficon-icon-arrow-down:before{content:"\F268"}
.ficon-icon-arrow-up:before{content:"\F269"}
.ficon-iftar:before{content:"\F26A"}
.ficon-import-calendar:before{content:"\F26B"}
.ficon-in-room-safe:before{content:"\F26C"}
.ficon-in-room-tablet:before{content:"\F26D"}
.ficon-in-room-video-games:before{content:"\F26E"}
.ficon-indoor-poor:before{content:"\F26F"}
.ficon-infant:before{content:"\F270"}
.ficon-infirmary:before{content:"\F271"}
.ficon-info-alert:before{content:"\F272"}
.ficon-info-with-circle:before{content:"\F273"}
.ficon-information:before{content:"\F274"}
.ficon-inhouse-movies:before{content:"\F275"}
.ficon-insider-deal-desktop:before{content:"\F276"}
.ficon-interconnecting-room-available:before{content:"\F277"}
.ficon-invalided-file:before{content:"\F278"}
.ficon-ipod-docking-station:before{content:"\F279"}
.ficon-islamic-prayer-room:before{content:"\F27A"}
.ficon-isolated-thunderstorms:before{content:"\F27B"}
.ficon-jacuzzi-bathtub:before{content:"\F27C"}
.ficon-japanese-futon:before{content:"\F27D"}
.ficon-jcb:before{content:"\F27E"}
.ficon-karaoke:before{content:"\F27F"}
.ficon-keyless-access:before{content:"\F280"}
.ficon-kids-club:before{content:"\F281"}
.ficon-king-bed:before{content:"\F282"}
.ficon-kitchen:before{content:"\F283"}
.ficon-kitchenette:before{content:"\F284"}
.ficon-kitchenware:before{content:"\F285"}
.ficon-kosher-restaurant:before{content:"\F286"}
.ficon-laptop-friendly-workspace:before{content:"\F287"}
.ficon-laptop-safe-box:before{content:"\F288"}
.ficon-last-minute-deal-2:before{content:"\F289"}
.ficon-last-minute-deal:before{content:"\F28A"}
.ficon-last-viewed:before{content:"\F28B"}
.ficon-late-check-out:before{content:"\F28C"}
.ficon-laundromat:before{content:"\F28D"}
.ficon-laundry-service:before{content:"\F28E"}
.ficon-length-of-stay:before{content:"\F28F"}
.ficon-library:before{content:"\F290"}
.ficon-light-rain:before{content:"\F291"}
.ficon-light-snow:before{content:"\F292"}
.ficon-limit-deal:before{content:"\F293"}
.ficon-limited-access-floor:before{content:"\F294"}
.ficon-line-close:before{content:"\F295"}
.ficon-line-empty-circle:before{content:"\F296"}
.ficon-linens:before{content:"\F297"}
.ficon-lobby:before{content:"\F298"}
.ficon-lockers:before{content:"\F299"}
.ficon-logo-wechat:before{content:"\F29A"}
.ficon-long-stay-deal:before{content:"\F29B"}
.ficon-long-stays:before{content:"\F29C"}
.ficon-low-floor:before{content:"\F29D"}
.ficon-low-to-high:before{content:"\F29E"}
.ficon-luggage-storage:before{content:"\F29F"}
.ficon-luggage:before{content:"\F2A0"}
.ficon-lunch:before{content:"\F2A1"}
.ficon-male-capsule:before{content:"\F2A2"}
.ficon-mandarin:before{content:"\F2A3"}
.ficon-map-airport:before{content:"\F2A4"}
.ficon-map-attraction:before{content:"\F2A5"}
.ficon-map-city:before{content:"\F2A6"}
.ficon-map-night:before{content:"\F2A7"}
.ficon-map-pin-fat:before{content:"\F2A8"}
.ficon-map-room:before{content:"\F2A9"}
.ficon-map-transportation:before{content:"\F2AA"}
.ficon-map-view:before{content:"\F2AB"}
.ficon-map-entry:before{content:"\F2AC"}
.ficon-massage:before{content:"\F2AD"}
.ficon-mastercard:before{content:"\F2AE"}
.ficon-max-occupancy-plus:before{content:"\F2AF"}
.ficon-max-occupancy:before{content:"\F2B0"}
.ficon-meeting-banquet:before{content:"\F2B1"}
.ficon-meeting-facilities:before{content:"\F2B2"}
.ficon-menu-bookings:before{content:"\F2B3"}
.ficon-menu-price-display:before{content:"\F2B4"}
.ficon-message-left:before{content:"\F2B5"}
.ficon-message-right:before{content:"\F2B6"}
.ficon-metro-subway-station:before{content:"\F2B7"}
.ficon-microwave:before{content:"\F2B8"}
.ficon-mini-bar:before{content:"\F2B9"}
.ficon-minus-thin:before{content:"\F2BA"}
.ficon-minus-with-circle:before{content:"\F2BB"}
.ficon-mirror:before{content:"\F2BC"}
.ficon-mist:before{content:"\F2BD"}
.ficon-mixed-rain-hail:before{content:"\F2BE"}
.ficon-mmb-account:before{content:"\F2BF"}
.ficon-mmb-booking:before{content:"\F2C0"}
.ficon-mmb-g-giftcard:before{content:"\F2C1"}
.ficon-mmb-my-rewards:before{content:"\F2C2"}
.ficon-mmb-payment-methods:before{content:"\F2C3"}
.ficon-mmb-pointsmax:before{content:"\F2C4"}
.ficon-mmb-refer-a-friend:before{content:"\F2C5"}
.ficon-mmb-reviews:before{content:"\F2C6"}
.ficon-more-money:before{content:"\F2C7"}
.ficon-mosquitonet:before{content:"\F2C8"}
.ficon-most-popular-destinations:before{content:"\F2C9"}
.ficon-mostly-cloudy-day:before{content:"\F2CA"}
.ficon-mostly-cloudy-night:before{content:"\F2CB"}
.ficon-motorbike:before{content:"\F2CC"}
.ficon-mountain-view:before{content:"\F2CD"}
.ficon-mse-icon:before{content:"\F2CE"}
.ficon-mse-price-icon:before{content:"\F2CF"}
.ficon-museum-arts:before{content:"\F2D0"}
.ficon-nav-back:before{content:"\F2D1"}
.ficon-nav-down-bold:before{content:"\F2D2"}
.ficon-nav-down-thin:before{content:"\F2D3"}
.ficon-nav-left-bold:before{content:"\F2D4"}
.ficon-nav-left-thin:before{content:"\F2D5"}
.ficon-nav-right-bold:before{content:"\F2D6"}
.ficon-nav-right-thin:before{content:"\F2D7"}
.ficon-nav-up-bold:before{content:"\F2D8"}
.ficon-nav-up-thin:before{content:"\F2D9"}
.ficon-negative:before{content:"\F2DA"}
.ficon-neighborhood-line:before{content:"\F2DB"}
.ficon-neighborhood:before{content:"\F2DC"}
.ficon-nightclub:before{content:"\F2DD"}
.ficon-nightlife:before{content:"\F2DE"}
.ficon-no-cc-fee:before{content:"\F2DF"}
.ficon-non-smoking-room:before{content:"\F2E0"}
.ficon-non-smoking:before{content:"\F2E1"}
.ficon-not-available:before{content:"\F2E2"}
.ficon-noti-balloon-answer:before{content:"\F2E3"}
.ficon-noti-balloon-question:before{content:"\F2E4"}
.ficon-noti-check-mark-rounded-inner:before{content:"\F2E5"}
.ficon-noti-check-mark-sharp:before{content:"\F2E6"}
.ficon-notice-info:before{content:"\F2E7"}
.ficon-number-of-floors:before{content:"\F2E8"}
.ficon-number-of-rooms:before{content:"\F2E9"}
.ficon-number-reviews:before{content:"\F2EA"}
.ficon-occupancy:before{content:"\F2EB"}
.ficon-open-a-new-tab:before{content:"\F2EC"}
.ficon-outdoor-pool:before{content:"\F2ED"}
.ficon-partly-cloudy-day:before{content:"\F2EE"}
.ficon-partly-cloudy-night:before{content:"\F2EF"}
.ficon-password:before{content:"\F2F0"}
.ficon-pay-at-hotel-in-cash:before{content:"\F2F1"}
.ficon-pay-at-the-place:before{content:"\F2F2"}
.ficon-pay-on-checkin:before{content:"\F2F3"}
.ficon-payment-option-no-credit-card:before{content:"\F2F4"}
.ficon-pending-bold:before{content:"\F2F5"}
.ficon-pending:before{content:"\F2F6"}
.ficon-personal-cheque:before{content:"\F2F7"}
.ficon-personal-details:before{content:"\F2F8"}
.ficon-pet-allowed-room:before{content:"\F2F9"}
.ficon-pets-allowed:before{content:"\F2FA"}
.ficon-photo-uploader:before{content:"\F2FB"}
.ficon-photocopying:before{content:"\F2FC"}
.ficon-pin-airport:before{content:"\F2FD"}
.ficon-pin-beach:before{content:"\F2FE"}
.ficon-pin-business:before{content:"\F2FF"}
.ficon-pin-casino:before{content:"\F300"}
.ficon-pin-culture:before{content:"\F301"}
.ficon-pin-family-fun:before{content:"\F302"}
.ficon-pin-heart-of-city:before{content:"\F303"}
.ficon-pin-heart-of-the-city:before{content:"\F304"}
.ficon-pin-mountain-view:before{content:"\F305"}
.ficon-pin-museum-arts:before{content:"\F306"}
.ficon-pin-nightlife:before{content:"\F307"}
.ficon-pin-poi:before{content:"\F308"}
.ficon-pin-religious:before{content:"\F309"}
.ficon-pin-restaurant:before{content:"\F30A"}
.ficon-pin-romance:before{content:"\F30B"}
.ficon-pin-shopping-markets:before{content:"\F30C"}
.ficon-pin-sightseeing:before{content:"\F30D"}
.ficon-pin-skiing:before{content:"\F30E"}
.ficon-pin-spas:before{content:"\F30F"}
.ficon-pin-tennis-courts:before{content:"\F310"}
.ficon-pin-transportation-hub:before{content:"\F311"}
.ficon-pin:before{content:"\F312"}
.ficon-pin-star:before{content:"\F313"}
.ficon-plus-thin:before{content:"\F314"}
.ficon-plus-with-circle:before{content:"\F315"}
.ficon-poi:before{content:"\F316"}
.ficon-pointsmax-line-logo:before{content:"\F317"}
.ficon-pointsmax-logo:before{content:"\F318"}
.ficon-pointsmax-placeholder:before{content:"\F319"}
.ficon-pointsmax:before{content:"\F31A"}
.ficon-police:before{content:"\F31B"}
.ficon-pool-kids:before{content:"\F31C"}
.ficon-pool:before{content:"\F31D"}
.ficon-poolside-bar:before{content:"\F31E"}
.ficon-portable-wifi-rental:before{content:"\F31F"}
.ficon-positive:before{content:"\F320"}
.ficon-postal-service:before{content:"\F321"}
.ficon-price-display:before{content:"\F322"}
.ficon-price-messaging:before{content:"\F323"}
.ficon-price-seen-user:before{content:"\F324"}
.ficon-printer:before{content:"\F325"}
.ficon-private-bath:before{content:"\F326"}
.ficon-private-beach:before{content:"\F327"}
.ficon-private-entrance:before{content:"\F328"}
.ficon-private-pool:before{content:"\F329"}
.ficon-profiles:before{content:"\F32A"}
.ficon-promo-code:before{content:"\F32B"}
.ficon-promo-score:before{content:"\F32C"}
.ficon-promotion-right:before{content:"\F32D"}
.ficon-properties-without-price:before{content:"\F32E"}
.ficon-properties:before{content:"\F32F"}
.ficon-property-name:before{content:"\F330"}
.ficon-property-owner:before{content:"\F331"}
.ficon-property-tooltip:before{content:"\F332"}
.ficon-queen-bed:before{content:"\F333"}
.ficon-question-mark:before{content:"\F334"}
.ficon-questions:before{content:"\F335"}
.ficon-rain-sleet:before{content:"\F336"}
.ficon-rain-to-snow-showers:before{content:"\F337"}
.ficon-rain:before{content:"\F338"}
.ficon-ratings:before{content:"\F339"}
.ficon-recently:before{content:"\F33A"}
.ficon-reception:before{content:"\F33B"}
.ficon-recommendations:before{content:"\F33C"}
.ficon-refresh:before{content:"\F33D"}
.ficon-refrigerator:before{content:"\F33E"}
.ficon-religious:before{content:"\F33F"}
.ficon-reporting:before{content:"\F340"}
.ficon-residence:before{content:"\F341"}
.ficon-resort-property-plan:before{content:"\F342"}
.ficon-restaurant-credit:before{content:"\F343"}
.ficon-restaurant:before{content:"\F344"}
.ficon-review-icon:before{content:"\F345"}
.ficon-ribbon-card-no-circle:before{content:"\F346"}
.ficon-ribbon-card-solid:before{content:"\F347"}
.ficon-ribbon-card:before{content:"\F348"}
.ficon-right-tick:before{content:"\F349"}
.ficon-romance:before{content:"\F34A"}
.ficon-room-plan:before{content:"\F34B"}
.ficon-room-promotion-for-flashdeal:before{content:"\F34C"}
.ficon-room-promotion-for-mobiledeal:before{content:"\F34D"}
.ficon-room-promotion-for-otherdeal:before{content:"\F34E"}
.ficon-room-promotion-for-smartdeal:before{content:"\F34F"}
.ficon-room-promotion-super-savedeal:before{content:"\F350"}
.ficon-room-promotion:before{content:"\F351"}
.ficon-room-service:before{content:"\F352"}
.ficon-room-voltage:before{content:"\F353"}
.ficon-safety-deposit-boxes:before{content:"\F354"}
.ficon-salon:before{content:"\F355"}
.ficon-satellite-cable-channels:before{content:"\F356"}
.ficon-satellite-television:before{content:"\F357"}
.ficon-sauna:before{content:"\F358"}
.ficon-scale:before{content:"\F359"}
.ficon-scattered-clouds:before{content:"\F35A"}
.ficon-scattered-flurries:before{content:"\F35B"}
.ficon-scattered-showers:before{content:"\F35C"}
.ficon-scattered-snow-showe:before{content:"\F35D"}
.ficon-scattered-thunderstorms:before{content:"\F35E"}
.ficon-search-box:before{content:"\F35F"}
.ficon-search-calendar:before{content:"\F360"}
.ficon-search-icon:before{content:"\F361"}
.ficon-seating-area:before{content:"\F362"}
.ficon-secure-icon:before{content:"\F363"}
.ficon-selected-property:before{content:"\F364"}
.ficon-self-parking:before{content:"\F365"}
.ficon-semi-double-bed:before{content:"\F366"}
.ficon-separate-dining-area:before{content:"\F367"}
.ficon-separate-living-room:before{content:"\F368"}
.ficon-separate-shower-and-tub:before{content:"\F369"}
.ficon-seriously-multilingual:before{content:"\F36A"}
.ficon-sewing-kit:before{content:"\F36B"}
.ficon-shampoo:before{content:"\F36C"}
.ficon-share:before{content:"\F36D"}
.ficon-shared-bath:before{content:"\F36E"}
.ficon-shared-kitchen:before{content:"\F36F"}
.ficon-shoeshine-kit:before{content:"\F370"}
.ficon-shopping-markets:before{content:"\F371"}
.ficon-shopping:before{content:"\F372"}
.ficon-shops:before{content:"\F373"}
.ficon-shower-rain:before{content:"\F374"}
.ficon-shower:before{content:"\F375"}
.ficon-shrine:before{content:"\F376"}
.ficon-shuttle-service:before{content:"\F377"}
.ficon-sightseeing:before{content:"\F378"}
.ficon-single-bed:before{content:"\F379"}
.ficon-size-of-rooms:before{content:"\F37A"}
.ficon-ski-equipment-rentals:before{content:"\F37B"}
.ficon-ski-lessons:before{content:"\F37C"}
.ficon-skiing:before{content:"\F37D"}
.ficon-sleet:before{content:"\F37E"}
.ficon-slippers:before{content:"\F37F"}
.ficon-smoke-detector:before{content:"\F380"}
.ficon-smoke-windy:before{content:"\F381"}
.ficon-smoking-allowed:before{content:"\F382"}
.ficon-smoking-area:before{content:"\F383"}
.ficon-smorking-yes-no:before{content:"\F384"}
.ficon-snorkeling:before{content:"\F385"}
.ficon-snow:before{content:"\F386"}
.ficon-sofa-bed:before{content:"\F387"}
.ficon-sofa:before{content:"\F388"}
.ficon-solarium:before{content:"\F389"}
.ficon-solo-hover:before{content:"\F38A"}
.ficon-solo:before{content:"\F38B"}
.ficon-sort-line:before{content:"\F38C"}
.ficon-soundproofing:before{content:"\F38D"}
.ficon-spa-credit:before{content:"\F38E"}
.ficon-spa-sauna:before{content:"\F38F"}
.ficon-spas:before{content:"\F390"}
.ficon-special-condition:before{content:"\F391"}
.ficon-spoken-1:before{content:"\F392"}
.ficon-spoken-10:before{content:"\F393"}
.ficon-spoken-11:before{content:"\F394"}
.ficon-spoken-12:before{content:"\F395"}
.ficon-spoken-13:before{content:"\F396"}
.ficon-spoken-2:before{content:"\F397"}
.ficon-spoken-20:before{content:"\F398"}
.ficon-spoken-22:before{content:"\F399"}
.ficon-spoken-23:before{content:"\F39A"}
.ficon-spoken-24:before{content:"\F39B"}
.ficon-spoken-25:before{content:"\F39C"}
.ficon-spoken-26:before{content:"\F39D"}
.ficon-spoken-27:before{content:"\F39E"}
.ficon-spoken-28:before{content:"\F39F"}
.ficon-spoken-29:before{content:"\F3A0"}
.ficon-spoken-3:before{content:"\F3A1"}
.ficon-spoken-30:before{content:"\F3A2"}
.ficon-spoken-31:before{content:"\F3A3"}
.ficon-spoken-32:before{content:"\F3A4"}
.ficon-spoken-33:before{content:"\F3A5"}
.ficon-spoken-34:before{content:"\F3A6"}
.ficon-spoken-35:before{content:"\F3A7"}
.ficon-spoken-36:before{content:"\F3A8"}
.ficon-spoken-37:before{content:"\F3A9"}
.ficon-spoken-38:before{content:"\F3AA"}
.ficon-spoken-39:before{content:"\F3AB"}
.ficon-spoken-4:before{content:"\F3AC"}
.ficon-spoken-40:before{content:"\F3AD"}
.ficon-spoken-43:before{content:"\F3AE"}
.ficon-spoken-46:before{content:"\F3AF"}
.ficon-spoken-47:before{content:"\F3B0"}
.ficon-spoken-48:before{content:"\F3B1"}
.ficon-spoken-49:before{content:"\F3B2"}
.ficon-spoken-5:before{content:"\F3B3"}
.ficon-spoken-50:before{content:"\F3B4"}
.ficon-spoken-6:before{content:"\F3B5"}
.ficon-spoken-7:before{content:"\F3B6"}
.ficon-spoken-8:before{content:"\F3B7"}
.ficon-spoken-9:before{content:"\F3B8"}
.ficon-sqm:before{content:"\F3B9"}
.ficon-squash-courts:before{content:"\F3BA"}
.ficon-stack-of-square-papers:before{content:"\F3BB"}
.ficon-star-1:before{content:"\F3BC"}
.ficon-star-15:before{content:"\F3BD"}
.ficon-star-2:before{content:"\F3BE"}
.ficon-star-25:before{content:"\F3BF"}
.ficon-star-3:before{content:"\F3C0"}
.ficon-star-35:before{content:"\F3C1"}
.ficon-star-4:before{content:"\F3C2"}
.ficon-star-45:before{content:"\F3C3"}
.ficon-star-5:before{content:"\F3C4"}
.ficon-steamroom:before{content:"\F3C5"}
.ficon-strong-storms:before{content:"\F3C6"}
.ficon-subways:before{content:"\F3C7"}
.ficon-suitable-for-events:before{content:"\F3C8"}
.ficon-sunny:before{content:"\F3C9"}
.ficon-super-king-bed:before{content:"\F3CA"}
.ficon-surfing-lessons:before{content:"\F3CB"}
.ficon-swimming-pool-access:before{content:"\F3CC"}
.ficon-table-tennis:before{content:"\F3CD"}
.ficon-tamil:before{content:"\F3CE"}
.ficon-tax-id:before{content:"\F3CF"}
.ficon-tax-receipt-available:before{content:"\F3D0"}
.ficon-taxi-service:before{content:"\F3D1"}
.ficon-telephone:before{content:"\F3D2"}
.ficon-television-plasma:before{content:"\F3D3"}
.ficon-tennis-courts:before{content:"\F3D4"}
.ficon-text-area:before{content:"\F3D5"}
.ficon-text-links:before{content:"\F3D6"}
.ficon-theme-park:before{content:"\F3D7"}
.ficon-thin-arrow-down:before{content:"\F3D8"}
.ficon-thin-arrow-left:before{content:"\F3D9"}
.ficon-thin-arrow-right:before{content:"\F3DA"}
.ficon-thin-circle-arrow-left:before{content:"\F3DB"}
.ficon-thin-sub-arrow:before{content:"\F3DC"}
.ficon-thumb-down-line:before{content:"\F3DD"}
.ficon-thumb-up-line:before{content:"\F3DE"}
.ficon-thumb-up-solid-map:before{content:"\F3DF"}
.ficon-thumb-up-solid:before{content:"\F3E0"}
.ficon-thumb-up:before{content:"\F3E1"}
.ficon-thunder-and-hail:before{content:"\F3E2"}
.ficon-thunderstorm:before{content:"\F3E3"}
.ficon-ticket-service:before{content:"\F3E4"}
.ficon-time-icon:before{content:"\F3E5"}
.ficon-time-to-airport:before{content:"\F3E6"}
.ficon-toiletries:before{content:"\F3E7"}
.ficon-tonight-only:before{content:"\F3E8"}
.ficon-tools:before{content:"\F3E9"}
.ficon-tooltip-details:before{content:"\F3EA"}
.ficon-tooltip:before{content:"\F3EB"}
.ficon-top-floor:before{content:"\F3EC"}
.ficon-topic-calendar:before{content:"\F3ED"}
.ficon-topic-filter:before{content:"\F3EE"}
.ficon-topic-hotel-highlight:before{content:"\F3EF"}
.ficon-topic-search:before{content:"\F3F0"}
.ficon-topic-user:before{content:"\F3F1"}
.ficon-tornado:before{content:"\F3F2"}
.ficon-total-savings:before{content:"\F3F3"}
.ficon-total-support:before{content:"\F3F4"}
.ficon-tours:before{content:"\F3F5"}
.ficon-towels:before{content:"\F3F6"}
.ficon-train-new-solid:before{content:"\F3F7"}
.ficon-train-new:before{content:"\F3F8"}
.ficon-train-station:before{content:"\F3F9"}
.ficon-tram-station:before{content:"\F3FA"}
.ficon-transfer-both-ways:before{content:"\F3FB"}
.ficon-transfer-one-ways:before{content:"\F3FC"}
.ficon-transportation-hub:before{content:"\F3FD"}
.ficon-transportation:before{content:"\F3FE"}
.ficon-trash:before{content:"\F3FF"}
.ficon-travelers:before{content:"\F400"}
.ficon-triangle-warning:before{content:"\F401"}
.ficon-tropical-storm:before{content:"\F402"}
.ficon-trouser-press:before{content:"\F403"}
.ficon-tv-area:before{content:"\F404"}
.ficon-tv-flat-screen:before{content:"\F405"}
.ficon-tv:before{content:"\F406"}
.ficon-umbrella:before{content:"\F407"}
.ficon-unionpay:before{content:"\F408"}
.ficon-upload-your-logo:before{content:"\F409"}
.ficon-user-font-icon:before{content:"\F40A"}
.ficon-valet-parking:before{content:"\F40B"}
.ficon-vending-machine:before{content:"\F40C"}
.ficon-verified-checkmark:before{content:"\F40D"}
.ficon-views:before{content:"\F40E"}
.ficon-villa:before{content:"\F40F"}
.ficon-visa:before{content:"\F410"}
.ficon-wake-up-service:before{content:"\F411"}
.ficon-walking:before{content:"\F412"}
.ficon-want-to-talk:before{content:"\F413"}
.ficon-washer:before{content:"\F414"}
.ficon-watch:before{content:"\F415"}
.ficon-water-park:before{content:"\F416"}
.ficon-water-sports-motorized:before{content:"\F417"}
.ficon-water-sports-non-motorized:before{content:"\F418"}
.ficon-watersports-equipment-rentals:before{content:"\F419"}
.ficon-weekend-discount:before{content:"\F41A"}
.ficon-wheelchair-accessible:before{content:"\F41B"}
.ficon-wifi-additional-charge:before{content:"\F41C"}
.ficon-wifi-in-public-areas:before{content:"\F41D"}
.ficon-wifi:before{content:"\F41E"}
.ficon-wind-surfing:before{content:"\F41F"}
.ficon-wintry-mix-snow-sleet:before{content:"\F420"}
.ficon-wired-internet:before{content:"\F421"}
.ficon-wooden-parqueted-flooring:before{content:"\F422"}
.ficon-world:before{content:"\F423"}
.ficon-x-icon:before{content:"\F424"}
.ficon-year-hotel-built:before{content:"\F425"}
.ficon-year-hotel-last-renovated:before{content:"\F426"}
.ficon-yoga-room:before{content:"\F427"}